body {
  background: linear-gradient(to bottom, #333333, #1e1e1e);

}

.page {
  height: 100vh;
  width: 100vw;
}


/* Team Section */

.teamContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 1000px;
}

.person {
  margin: 20px;
}

.person-img {
  border-radius: 50%;
  margin: 10px 10px 0px 10px;
  height: 200px;
}

.person-name {
  color: white;
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
}

.links-section {
  display: flex;
  justify-content: center;
  gap: 15px;
  cursor: pointer;
}

.link {
  color: white;
  opacity: 60%;
}

.furryTeam {
  margin-bottom: 50px;
}


.furryBtn {
  border-radius: 10%;
}

.furryBtn:active,
.furryBtn:hover {
  outline: 0;
}


.demo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 4300px; */
  height: 330vh;
  width: 100vw;
  gap: 100px;
  background-color: none;
}

.feature-title {
  text-align: center;
  margin-bottom: 50px;
}

.gif {
  height: 70vh;
  width: 60vw;
  border-radius: 10px;
  background-color: #f0f0f0;
  border: 3px solid #ccc;
  margin-left: 15px;
  margin-right: 15px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;;
  border-radius: 9px;
  margin-left: 50px;
  margin-right: 60px;
  box-shadow: rgba(255, 176, 0, 0.7) 0 0 20px 18px;
}


.description {
  width: 32vw;
  height: 64vh;
  color: black;
  background-color: gray;
  border-radius: 10px;
  text-align: center;
  padding: 40px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-weight: 800;
}

.title {
  font-size: 40px;
}

::-webkit-scrollbar {
  width: 15px;
  margin: none;
  background-color: #232323;
}

::-webkit-scrollbar-track {
  background-color: #232323;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
  border: 2px solid #312b2f;
}

::-webkit-scrollbar-thumb:hover {
  background-color: darkorange;
}