body {
  background: linear-gradient(to bottom, #383838, #242424);
}

.page {
  height: 100vh;
  width: 100vw;
}

.demo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid white; */
  height: 2450px;
  width: 100vw;
}

.gif {
  height: 480px;
  width: 800px;
  border-radius: 10px;
  background-color: #f0f0f0;
  border: 3px solid #ccc;
}

.tree-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.store-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.snapshot-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.action-log-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.description {
  width: 400px;
  height: 400px;
  color: black;
  background-color: rgba(58, 57, 57, 0.788);
  border: 3px solid #ccc;
  border-radius: 10px;
  text-align: center;
  padding: 40px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-weight: 800;
}

.description .desc {
  display: none;
}

.description:hover {
  background-color: orange;
}

.description:hover .desc {
  display: block;
  font-size: 18px;
  font-weight: normal;
}

.description:hover .title {
  display: none;
}



